musitello = {
   name = Musitello
}

argan = {
   name = Argan
   adjective = Arganite
   plural = Arganites
}

komnenos = {
    name = Komnenos
    adjective = Komnenos
    plural = Komnenoi
}

itc = {
    name = "Interstellar Trading Company"
    adjective = Trader
    plural = Traders
}

byzantium = {
    name = Byzantium
    adjective = Byzantine
    plural = Byzantines
}
